[submodule "VirtualPlayers"]
	path = VirtualPlayers
	url = https://github.com/BattlePlugins/VirtualPlayers.git
[submodule "BattleTracker"]
	path = BattleTracker
	url = https://github.com/BattlePlugins/BattleTracker.git
[submodule "BattleArena"]
	path = BattleArena
	url = https://github.com/BattlePlugins/BattleArena.git
