[submodule "VirtualPlayers"]
	path = alib/dependencies/runtime/modules/VirtualPlayers
	url = https://github.com/BattlePlugins/VirtualPlayers.git
[submodule "BattleTracker"]
	path = BattleTracker
	url = https://github.com/BattlePlugins/BattleTracker.git
[submodule "BattleArena"]
	path = BattleArena
	url = https://github.com/BattlePlugins/BattleArena.git
[submodule "alib/dependencies/test/MCApi"]
	path = alib/dependencies/test/modules/BattleMCApi
	url = https://github.com/BattlePlugins/MCApi.git
[submodule "alib/dependencies/compile/Version"]
	path = alib/dependencies/compile/modules/Version
	url = https://github.com/BattlePlugins/Version.git
[submodule "alib/dependencies/compile/BukkitAdapter"]
	path = alib/dependencies/compile/modules/BukkitAdapter
	url = https://github.com/BattlePlugins/BukkitAdapter.git
[submodule "alib/dependencies/compile/BukkitInterface"]
	path = alib/dependencies/compile/modules/BukkitInterface
	url = https://github.com/BattlePlugins/BukkitInterface.git
[submodule "alib/dependencies/compile/BattleBukkitLib"]
	path = alib/dependencies/compile/modules/BattleBukkitLib
	url = https://github.com/BattlePlugins/BattleBukkitLib.git
[submodule "alib/dependencies/compile/WorldEditUtil"]
	path = alib/dependencies/compile/modules/WorldEditUtil
	url = https://github.com/BattlePlugins/WorldEditUtil.git
[submodule "alib/dependencies/compile/PluginUpdater"]
	path = alib/dependencies/compile/modules/BattlePluginUpdater
	url = https://github.com/BattlePlugins/PluginUpdater.git
[submodule "alib/dependencies/compile/BattleScoreboardAPI"]
	path = alib/dependencies/compile/modules/BattleScoreboardAPI
	url = https://github.com/BattlePlugins/BattleScoreboardAPI.git
[submodule "alib/dependencies/compile/BattleWebAPI"]
	path = alib/dependencies/compile/modules/BattleWebAPI
	url = https://github.com/BattlePlugins/BattleWebAPI.git
[submodule "zlib/extentions/arenas/HostageArena"]
	path = zlib/extentions/arenas/HostageArena
	url = https://github.com/BattlePlugins/HostageArena.git
[submodule "zlib/extentions/arenas/BombArena"]
	path = zlib/extentions/arenas/BombArena
	url = https://github.com/BattlePlugins/BombArena.git
[submodule "zlib/extentions/arenas/ArenaSpleef"]
	path = zlib/extentions/arenas/ArenaSpleef
	url = https://github.com/BattlePlugins/ArenaSpleef.git
[submodule "zlib/extentions/arenas/ArenaCTF"]
	path = zlib/extentions/arenas/ArenaCTF
	url = https://github.com/BattlePlugins/ArenaCTF.git
[submodule "zlib/extentions/arenas/ArenaDTF"]
	path = zlib/extentions/arenas/ArenaDTF
	url = https://github.com/BattlePlugins/ArenaDTF.git
[submodule "zlib/extentions/arenas/ArenaPaintball"]
	path = zlib/extentions/arenas/ArenaPaintball
	url = https://github.com/BattlePlugins/ArenaPaintball.git
[submodule "zlib/extentions/arenas/ArenaOneShot"]
	path = zlib/extentions/arenas/ArenaOneShot
	url = https://github.com/BattlePlugins/ArenaOneShot.git
[submodule "zlib/extentions/arenas/ArenaBlutonium"]
	path = zlib/extentions/arenas/ArenaBlutonium
	url = https://github.com/BattlePlugins/ArenaBlutonium.git
[submodule "zlib/extentions/arenas/ArenaPlunger"]
	path = zlib/extentions/arenas/ArenaPlunger
	url = https://github.com/BattlePlugins/ArenaPlunger.git
[submodule "zlib/extentions/arenas/ArenaDac"]
	path = zlib/extentions/arenas/ArenaDac
	url = https://github.com/BattlePlugins/ArenaDac.git
[submodule "zlib/extentions/arenas/ArenaTowerRush"]
	path = zlib/extentions/arenas/ArenaTowerRush
	url = https://github.com/BattlePlugins/ArenaTowerRush.git
